
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Ubuntu:ital@1&family=ZCOOL+KuaiLe&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(19, 236, 92);
    color: rgb(0 0 0);
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
}

nav ul{
    list-style-type: none;
    font-size: xx-large;
    padding-top: 16px;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 

.Container{
    display: grid;
    grid-template-columns: repeat(3, 13vw);
    grid-template-rows: repeat(3, 13vw);
    font-family: 'roboto', sans-serif;
    padding: 16px;
    margin: 3px 5px;
}

.box{
    border: 0.1rem solid black;
    font-size: 13vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(226, 220, 226);
}

.gameInfo{
    padding: 14px 19px;
    font-family: 'Kalam', cursive;
    font-size: 30px;
    text-align: center;
}
.info{
    padding: 9px 32px;
    font-size: 40px;
    font-weight: bolder;
    align-items: center;
}
.imgbox img{
    width: 0;
    transition: width 0.7s ease-in-out;
} 

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    padding:  1px 20px;
    background-color: rgb(255, 47, 47);
    font-family: 'Kalam';
    font-size: 25px;
    cursor: pointer;
    border: solid;
    border-radius: 20px;
    align-items: center;
}
.line{
    background-color: rgb(255, 39, 39);
    width: 0;
    height: 5px;
    
    position: absolute;
    transition: width 1s ease-in-out;
}

#musicbtn{
    font-size: 14px;
  border-radius: 9px;
    margin: 0 auto;
    display: inline-block;
    display: inline-block;
    margin: 3px -21px;

}

#Music{
    font-size: 15px;
    position: absolute;
    right: 29px;
    border: black;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Kalam';
    color: black;
    padding: 2px 6px;
    margin: -9px -5px;
    cursor: pointer;
    text-align: center;
}
  
  /* Darker background on mouse-over */
  #music:hover {
    background-color: rgb(161, 191, 236)
  }







@media screen and (max-width:800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }
    /* .gameinfo h2{
      
    } */
    .info{
        font-size: 30px;
    }
    #reset{
    padding:  3px 16px;
    background-color: rgb(255, 47, 47);
    font-family: 'Kalam';
    font-size: 20px;
    cursor: pointer;
    border: solid;
    border-radius: 20px;
    align-items: center;
    }
    .Container{
        display: grid;
        grid-template-columns: repeat(3, 16vw);
        grid-template-rows: repeat(3, 16vw);
        font-family: 'roboto', sans-serif;
        padding: 5px;
    }
    .line{
    background-color: rgb(255, 39, 39);
    width: 0vw;
    height: 3px;
    transition: width 1s ease-in-out;
    }
    .imgbox img{
        justify-items: center;
        padding: 6px 13px;
        margin-right: 35px;
        margin-top: -6px;
    }
}